body {
    background: black;
    background-image: url("gifs/wood-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -9%;
}

.iron-con{
    position: absolute;
    top: 45%;
    left: 0;
}

.spider-con{
    transform: scaleX(-1);   
    position: absolute;
    top: 48%;
    right: 0;
}

.iron, .spider{
    height: 350px;
}

.spider{
    height: 300px;
}





/* IRONMAN - COMBAT */
.shield{
    height: 425px;
    position: absolute;
    margin-top: -80px;
    margin-left: -130px;
}

.smart{
    height: 409px;
    position: absolute; 
    margin-top: -28px;
    margin-left: -18px;
}

.crouch{
    height: 460px;
    position: absolute; 
    margin-top: -80px;
    margin-left: -110px;
}

.fly{
    height: 650px;
    position: absolute;
    margin-top: -320px;
}









/* SPIDERMAN COMBAT */
.sting{
    height: 600px;
    position: absolute;
    margin-top: -320px;
    margin-left: -130px;
}

.webball{
    position: absolute;
    height: 370px;
    margin-top: -50px;
    margin-left: -50px;
}

.lowblock{
    position: absolute;
    height: 270px;
    margin-top: 60px;
}

.usegem{
    position: absolute;
    height: 600px;
    margin-top: -250px;
    margin-left: -80px;
}