body {
    background: black;
    background-image: url("gifs/wood-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -9%;
}

.iron-con{
    /* background-color: blue; */
    position: absolute;
    top: 45%;
    left: 0;
}

.spider-con{
    /* background-color: white; */
    transform: scaleX(-1);   
    position: absolute;
    top: 45%;
    right: 0;
}

.iron, .spider{
    height: 350px;
}

.shield{
    height: 425px;
    position: relative;
}

/* .fly{
    position: relative;
    top: 100%;
    height: 700px
} */